.myModalMenu
    display: none
    justify-content: left
    background-color: #2E2E2E
    height: 100%
    user-select: none
    resize: horizontal
    overflow: auto
    max-width: 1000px
    min-width: 300px
    min-height: 965px

.myModalMenu::-webkit-scrollbar-thumb
    background-color: #D9D9D9
    border-radius: 20px
    border: none


.myModalMenu.active
    display : block
    justify-content: center
    

.contentModal
    background: transparent
    display: block
    color : #D9D9D9
    font-family: Inter
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    margin-top : 20px
    
    
.titleMenu
    font-size: 20px
    margin-left : 20px


.filtersList
    margin-top: 20px
    margin-left : 20px

    .filtersListItem
        border-bottom: 1px solid #3E3E3E
        padding-bottom: 5px
        padding-top : 5px
        color : #8D8D8D