.BoxSettings
    display: flex
    justify-content: right
    position: fixed
    right : 0
    position: fixed
    z-index: 2
    
.myStng
    display: none
    background-color: #2E2E2E
    max-width: 65px
    
.myStng.active 
    display: flex
    flex-direction: row-reverse
    width: 65px
    align-items: center
    justify-content: space-around
    height: 100px
    border-radius: 0 0 0 10px
    position: relative
    z-index: 2
    
.menu-enter
    
