.myModal
    display: none
    justify-content: space-around
    align-items: center
    width: 390px
    border-radius: 0 0 13px 13px
    background: var(--text, #D9D9D9)
    justify-content: left
    position: fixed
    z-index: 2
    margin-left: 70px
    margin-bot : 100px
    margin-top: 44px 
    top : 0


.myModal.active
    display: block

.myModalContent
    display: flex
    justify-content : center
    color: var(--background, #2E2E2E)
    font-family: Inter
    font-size: 18px
    font-style: normal
    font-weight: 500
    line-height: normal
    margin-top : 10px
    margin-bottom: 10px
    

.filterList
    color: var(--background, #6B6B6B)
    font-family: Inter
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    margin-bottom: 30px
    

.elementFilter
    border : 1px solid #BABABA
    border-radius: 3px
    margin : 10px
    padding: 10px


