.myModalMenu
    display: none
    background-color: #2E2E2E
    position: relative
    position: fixed

.myModalMenu.active
    display: flex
    height : 400px 
    width: 470px
    border-radius: 0 0 10px 0

.contentModal
    background: transparent
    color : #D9D9D9
    font-family: Inter
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    
