.HeaderBox
    display: flex
    justify-content: space-between
    flex-shrink: 0
    height: 60px
    background: #2e2e2e   
    
.headerLeftBox
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: 10px
    width: 450px

.headerRightBox
    display: flex
    justify-content: space-between
    align-items: center
    width: 200px
    margin-right: 16px

.headerOutline
    display: flex
    justify-content: space-between
